@CHARSET "UTF-8";

body {
	padding: 10px;
}

table {
	border: 1px solid #333;
	width: 100%;
}

th {
	background-color: #465A00;
	padding: 5px;
	color: #fff;
}

td {
	padding: 5px;
}

td.even {
	background-color: #E5ECF9;
}