@CHARSET "UTF-8";

#wrapper {
	width: 950px;
	margin: 0 auto;
}

#header {
	background: #97B400 url('../images/header950px.jpg') no-repeat left top;
	height: 150px;
	margin-bottom: 20px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cccccc, Direction=180, Strength=8) progid:DXImageTransform.Microsoft.Shadow(color=#cccccc, Direction=90, Strength=8) 
    progid:DXImageTransform.Microsoft.Shadow(color=#cccccc, Direction=270, Strength=8);
    -moz-box-shadow: 0px 10px 15px #ccc;
    -webkit-box-shadow:0px 10px 15px #ccc;
    box-shadow:0px 10px 10px #ccc;
}
