[production]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0
includePaths.library = APPLICATION_PATH "/../library"
autoloaderNamespaces.unwired = "Unwired_"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Unwired_Bootstrap"
appnamespace = "Application"
resources.frontController.params.displayExceptions = 0

resources.layout.layoutPath = APPLICATION_PATH "/layouts/scripts/"
resources.view.doctype = "XHTML1_TRANSITIONAL"
resources.view.assign.theme = "skiamade"
resources.view.assign.serverUrl = "https://[your_admin_interface_url]"
resources.view.assign.systemName = "[YOUR_SYSTEM_NAME]"
resources.view.basePath = APPLICATION_PATH "/modules/default/views"
resources.view.helperPath.Unwired_View_Helper = "Unwired/View/Helper"
resources.view.helperPath.Users_View_Helper = APPLICATION_PATH "/modules/users/views/helpers"
resources.view.helperPath.Groups_View_Helper = APPLICATION_PATH "/modules/groups/views/helpers"

resources.db.adapter = "PDO_MYSQL"
resources.db.params.host = [your_host]
resources.db.params.dbname = "uwaa"
resources.db.params.username = "uwaa"
resources.db.params.password = [your_db_password]
resources.db.params.charset="UTF8"

;resources.mail.transport.type = sendmail
resources.mail.transport.type = smtp
resources.mail.transport.host = [your_smtp_server]
resources.mail.transport.auth = login
resources.mail.transport.username = [your_smtp_username]
resources.mail.transport.password = [your_smtp_password]
resources.mail.transport.ssl = ssl
resources.mail.transport.port = 465
resources.mail.transport.register = true ; True by default

default.chilli.statsUrl = "http://[your_host]/live"

resources.mail.defaultFrom.email = notification@[your_hostname] 
resources.mail.defaultFrom.name = "[your_network_name] Wlan"
resources.mail.defaultReplyTo.email = notification@[your_hostname]
resources.mail.defaultReplyTo.name = "[your_network_name] Wlan"

captive.resources.db.isDefaultTableAdapter = 0
captive.resources.db.adapter = "PDO_MYSQL"
captive.resources.db.params.host = "[your_db_host]"
captive.resources.db.params.dbname = "[your_dbname]"
captive.resources.db.params.username = "[your db_user]"
captive.resources.db.params.password = "[your db_password]"
captive.resources.db.params.charset="UTF8"

captive.shellpaths.scp = "/usr/bin/scp"
captive.shellpaths.ssh = "/usr/bin/ssh"

captive.splashpage.default.host = ""
captive.splashpage.default.user = ""
captive.splashpage.default.publicpath = "/var/www/splashpage/public"
captive.splashpage.default.url = "http://[your_default_url]/"
captive.splashpage.default.sshoptions.i = "/home/splashupdate/.ssh/id_rsa"
captive.splashpage.default.sshoptions.o = "UserKnownHostsFile=/home/splashupdate/.ssh/known_hosts"


resources.cachemanager.default.frontend.name = Core
resources.cachemanager.default.frontend.customFrontendNaming = false
resources.cachemanager.default.frontend.options.lifetime = 3600
resources.cachemanager.default.frontend.options.automatic_serialization = true
resources.cachemanager.default.backend.name = File
resources.cachemanager.default.backend.customBackendNaming = false
resources.cachemanager.default.backend.options.cache_dir = APPLICATION_PATH "/cache"
resources.cachemanager.default.frontendBackendAutoload = false

resources.modules = 1

resources.frontController.params.prefixDefaultModule = "1"
resources.frontController.moduleDirectory = APPLICATION_PATH "/modules"

resources.translate.adapter = ini
resources.translate.content = APPLICATION_PATH "/modules/default/languages/en/global.ini"
resources.translate.locale = "en"
resources.translate.cache = "default"

resources.log.stream.writerName = "Stream"
resources.log.stream.writerParams.stream = APPLICATION_PATH "/log/application.log"
resources.log.stream.writerParams.mode = "a"
resources.log.stream.filterName = "Priority"
resources.log.stream.filterParams.priority = 4

resources.navigation.pages.home.label = "nav_home"
resources.navigation.pages.home.order = 1
resources.navigation.pages.home.module = "default"
resources.navigation.pages.home.controller = "index"
resources.navigation.pages.home.action = "index"
resources.navigation.pages.home.route = "default"

resources.session.namespace = "unwiredsess"
[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1
resources.cachemanager.default.frontend.options.lifetime = 10
